$family: unquote($string: "Droid+Sans"); //unquote 내장함수는 문자열에서 따옴표를 제거함
@import url("http://font.googleapis.com/css?family={$family}");

.container {
    $size: 100px;
    .item {
        width: $size * 3;
        height: $size;
        background: tomato;
    }
}

// 컴파일 되지 않는 주석
/* 컴파일 되는 주석 */

//상위 선택자 참조
.btn {
    width: 100px;
    height: 100px;
    &.active{
        color: red;
    }
}

.fs{
    &-small {
        font-size: 14px;
    }
    &-mediun {
        font-size: 16px;
    }
    &-large {
        font-size: 18px;
    }
}


//중첩 벗어나기
.section {
    $width: 100px;
    $height: 200px;
    width: $width;
    height: $height;

    item{
        width: $width;
        height: $height;
    }

    @at-root .box {
        width: $width;
        height: $height;
    }
}

//중첩된 속성정의
.box {
    font: {
        weight: bold;
        size: 10px;
        family: sans-serif;
    }
    margin: {
        top: 10px;
        left: 20px;
    }
    padding: {
        bottom: 40px;
        right: 30px;
    }
}

$color: black;
.box1{
    $color: blue !global; //전역변수 파랑으로 바꿈
    background: $color;
}
.box2{
    background: $color;
}
.box3{
    $color: red; //지역변수로 되서 얘만 빨강
    background: $color;
}
.box4{
    background: $color; //전역변수 따라가서 파랑
}

.box5{
    $color: yellow !default; //사용자가 지정한 이름이 같은변수가 있을경우 그 변수를 따라감 따라서 파랑으로 됨
    background: $color;
}

